@import url("https://fonts.googleapis.com/css?family=Catamaran|Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: #fcf8f3;
	
}

h1,h2,h3{
	font-family: 'Catamaran', sans-serif;
}

h1, h2{
	font-weight: bold;
}

h2, h3{
	font-size: 32px;
}

h2{
	color: #ff9269;
}

a{
	text-decoration: none;
}
